body {
    margin: 0em;
    padding: 0px;
    text-align: center;
}
header {
    background-image: linear-gradient(#404549, #61697e, #3d4244);
    color: #ffffff;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px ;
}
h1 {
    /* display: inline; */
    font-size: 20px;
    margin: 10px;
}


#wallet {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
#wallet input[type='number'] {
    
        font-size: 34px;
        text-align: center;
}
#total-money {
    border: 2px solid #e8e6e6;
    border-radius: 100px;
    font-size: 2px;
    padding: 10px 0px;
    height: 30px;
    width: 110px;
}
#total {
    background-color: #efe2cc;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0em;
    padding: 3em 1em;
    margin-top: -20px;
}
#total input{
    background-color: #f0e3cd;
    border: 1px solid #f0e3cd;
    border: 1px solid #e8e6e6;
    padding: 10px 0px;
    width: 86px;
    color: #ed462f;
    font-size: 50px;
}    



#fruits-section{
    background-image: linear-gradient(#3b4042, #60687c, #3c4244);
    padding: 15px 30px
}

#img-div {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    /* margin: 30px 0px; */
    border-radius: 6px;
}

figure {
    background-color: white;
    width: 250px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 170px;
}

.orange-div, .banana-div, .apple-div {
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px 10px ;
    padding-bottom: 10px ;
    max-width: 250px;
    border-radius: 6px
 } 

.apple-div h2 {
    text-align: center;
    width: 100%;
    margin: -1px 0px 6px 0px;
    background-color: #346e34;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 2px;
} 
.orange-div h2 {
    text-align: center;
    width: 100%;
    margin: -1px 0px 6px 0px;
    background-color: #346e34;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 2px;
}
.banana-div h2 {
    text-align: center;
    width: 100%;
    margin: -1px 0px 6px 0px;
    background-color: #346e34;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 2px;
}
#buttons {
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
#addBtn {
    padding: 8px;
    border: 1px solid #3a3f40;
    border-right-style: none;
    border-radius: 12px 0px 0px 12px;
    background-color: #3b4042;
    color: white;
    
    
}

#minusBtn {
    border: 1px solid #3a3f40;
    padding: 8px;
    border-left-style: none;
    border-radius: 0px 12px 12px 0px;
    background-color: #3b4042;
    color: white;
}

#buttons>input {
    max-width: 9vh;
    border: 1px solid;
    border-right-style: none;
    border-left-style: none;
    padding: 7px 0px;
    text-align: center;
    background-image: linear-gradient(#c8c7c7,#fdfdfd);
}